@model MagzineRental.ViewModels.MagzineViewModel

@{
    ViewBag.Title = ViewBag.stat + " Magzine";
}

<h2>@ViewBag.stat Magzine</h2>

@using (Html.BeginForm("save", "Magzine")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Magzine.Name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Magzine.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Magzine.Name, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Magzine.ReleaseDate, htmlAttributes: new { @class = "control-label" })
           
                @Html.TextBoxFor(model => model.Magzine.ReleaseDate, "{0:d MMM yyyy}",  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Magzine.ReleaseDate, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Magzine.GenreId, htmlAttributes: new { @class = "control-label" })

            @Html.DropDownListFor(model => model.Magzine.GenreId, new SelectList(Model.genretypes,"Id", "Name"),"select" , new { @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Magzine.GenreId, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Magzine.NumberofStock, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.Magzine.NumberofStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Magzine.NumberofStock, "", new { @class = "text-danger" })
            
        </div>

        

        <div class="form-group">
            <div class="col-md-2">
                @Html.HiddenFor(model => model.Magzine.Id)
                <input type="submit" value="Save" class="btn btn-success btn-block" />
            </div>

            <br />
        </div>
    </div>
}

<div class="">
    <br />
    @Html.ActionLink("Back to List", "Index")
    <div>

        @if (ViewBag.update != null)
        {

            if (ViewBag.state == "0")
            {
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <div class="alert alert-success alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><i class="fa fa-check"></i>&nbsp;&nbsp; @ViewBag.update</strong>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <div class="alert alert-danger alert-dismissible fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><i class="fa fa-times-circle"></i>&nbsp;&nbsp; @ViewBag.update</strong>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>
@section scripts{

    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(function(){
            $(".li-main").removeClass("active");
            $(".mag-1").addClass("active");
        });
    </script>
}
